<div *ngIf="data && data.length > 0; else noData" class="grid-wrapper">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let col of columns"
          (click)="onSort(col)"
          [ngClass]="{
            'sortable': col.sortable,
            'sorted-asc': sortColumn === col.key && sortDirection === 'asc',
            'sorted-desc': sortColumn === col.key && sortDirection === 'desc'
          }"
        >
          {{ col.label }}
        </th>
        </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of data"
        (click)="onRowClick(row)"
        [ngClass]="{ 'selected': row === selectedRow }"
      >
        <td *ngFor="let col of columns">
          {{ row[col.key] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <div class="no-data-message">No data to display.</div>
</ng-template>