<div
  *ngIf="data && data.length > 0; else noData"
  class="grid-container"
  [class.resizing]="!!resizingColumn"
>
  <div class="grid-header-wrapper" #headerWrapper>
    <table class="header-table">
      <thead>
        <tr>
          <th
            *ngFor="let col of columns"
            (click)="onSort(col)"
            [ngClass]="{
              'sortable': col.sortable,
              'sorted-asc': sortColumn === col.key && sortDirection === 'asc',
              'sorted-desc': sortColumn === col.key && sortDirection === 'desc'
            }"
            [style.width.px]="col.width"
            #th
          >
            <div class="header-content">
              {{ col.label }}
            </div>

            <div
              class="resizer"
              (mousedown)="onResizeStart($event, col, th)"
              (click)="$event.stopPropagation()"
            ></div>
          </th>
        </tr>
      </thead>
    </table>
  </div>

  <div
    class="grid-body-wrapper"
    #bodyWrapper
    [style.height]="virtualScrollHeight"
    (scroll)="onBodyScroll()"
  >
    <cdk-virtual-scroll-viewport
      [itemSize]="virtualScrollItemSize"
      class="virtual-viewport"
    >
      <table class="data-table">
        <colgroup>
          <col *ngFor="let col of columns" [style.width.px]="col.width" />
        </colgroup>

        <tbody>
          <tr
            *cdkVirtualFor="let row of data"
            (click)="onRowClick(row)"
            [ngClass]="{ 'selected': row === selectedRow }"
          >
            <td *ngFor="let col of columns">
              <div class="cell-content">
                {{ row[col.key] }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<ng-template #noData>
  <div class="no-data-message">Không có dữ liệu.</div>
</ng-template>