<div class="widget-card" [class.is-loading]="isLoading()">
  <div
    class="widget-layer skeleton-layer"
    [class.hide]="!isLoading()"
    aria-hidden="true">
    <div class="widget-icon-wrapper skeleton"></div>
    <div class="widget-content">
      <div
        class="skeleton skeleton-text"
        style="width: 60%; height: 1.5rem; margin-bottom: 4px"></div>
      <div
        class="skeleton skeleton-text"
        style="width: 40%; height: 0.875rem; margin-bottom: 2px"></div>
      <div
        class="skeleton skeleton-text"
        style="width: 50%; height: 0.75rem"></div>
    </div>
  </div>

  <div class="widget-layer content-layer">
    <div class="widget-icon-wrapper" [ngStyle]="iconWrapperStyle()">
      <i [class]="icon()" [ngStyle]="iconStyle()" aria-hidden="true"></i>
    </div>

    <div class="widget-content">
      <div class="widget-value" #valueDisplay></div>
      <p class="widget-title">{{ title() }}</p>
      <p class="widget-caption">{{ caption() }}</p>
    </div>
  </div>
</div>
